*{
    margin: 0;
}

.container1{
    background-color: #1F2937;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;

}

.row1{
    display: flex;
    flex-direction: row;
    padding-top: 0.01%;
    padding-bottom: 10%;
    margin-top: 0;
}


.row2{
    display: flex;
    flex-direction: row;
}

.hlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 10%;
    
}

.row1 .header-logo{
    flex: 53%;
}
.row1 .header-links{
    flex: 37%;
}
.row2 .item1{
    width: 50%; 
}

.row2 .heading{
    font-size:48px;
    color:#F9FAF8;
    font-weight: extra-bold;
}

.row2 .bodytext{
    font-size:18px;
    color: #E5E7EB;
    font-weight: extra-bold;
    margin-bottom: 5%;
}

.btn{
    border: 0;
    border-radius: 6px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:0;
}

.row2 .col2{
    width: 50%;
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
}

.placeholder-text{
    color:white;
    font-size: 18px;
    text-align: center;
}
